<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="referrer" content="no-referrer"/>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<div class="main">
    {% block main %}{% endblock %}
</div>
</body>
</html>
